<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CentrifyEndpointUrl" value="https://tenant.centrify.com" />
    <add key="AdminUserName" value="admin@domain.com" />
    <add key="AdminPassword" value="pass" />
    <add key="CSVDelimiter" value=";" />
  </appSettings>
</configuration>
